# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/tqffjfwm/airec-api"
PassengerBaseURI "/"
PassengerPython "/home/tqffjfwm/virtualenv/airec-api/3.12/bin/python"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END

# Enable Passenger development mode and friendly error pages
PassengerAppEnv development
PassengerFriendlyErrorPages on